html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

/* Nav/Hero section */
/* ------------------------------------------ */

.header {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header .container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding: 10px 150px 80px;
    gap: 90px;
}

/* Nav bar */
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #ff3b3f;
    font-weight: 800;
    display: flex;
    gap: 16px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.top a {
    text-decoration: none;
    font-size: 18px;
    color: #05386b;
    font-weight: 600;
}

.top a:hover {
    color: #ff3b3f;
    border-radius: 3px;
    transition: all 0.2s;
}


/* Hero section */
.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #ff3b3f;
}

.description .subtext {
    font-size: 18px;
    font-weight: 600;
    color: #6e6e6e;    
}

.header .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.header .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.image {
    flex: 1;
    width: auto;
    max-height: 300px;
    border-radius: 5px;
}

/* Information/Images section */
/* ------------------------------------------ */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px 0 100px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #6e6e6e;
    font-weight: 600;
}

.information .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.box {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.box a {
    text-decoration: none;
    color: #05386b;
}

.box a:hover {
    background-color: #05386b;
    color: #edf5e1;
    border-radius: 10px;
    transition: all 0.2s;
}

.box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #05386b;
    border-radius: 10px;
}

.caption {
    text-align: center;
    font-weight: 600;
}

/* Quote section */
/* ------------------------------------------ */

.quote {
    background-color: #efefef;
}

.quote .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    gap: 10px;
    padding: 80px 200px;

}

.quote .text em {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
}

.author {
    align-self: flex-end;
    margin-right: 70px;
    color: #1f2937;
}

/* Call to action section */
/* ------------------------------------------ */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action .container {
    background-color: #caebf2;
    border-radius: 3px;
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px; 
    margin: 60px 0; 
    gap: 10px;
    max-width: 700px;
}

.action .left {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.action-call {
   font-size: 18px;
   color: #6e6e6e;
   font-weight: 900;
}

.action .subtext {
    font-size: 12px;
    color: #6e6e6e;
    font-weight: 600;
}

.action .explore {
    border: 2px solid #6e6e6e;
    background-color: #caebf2;
    color: #6e6e6e;
    border-radius: 6px;
    max-width: 100px;
    padding: 5px 24px;
}

.action .explore:hover {
    background-color: #6e6e6e;
    color: #caebf2;
    transition: all 0.2s;
}

/* Footer */
/* ------------------------------------------ */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 20px;
}

.footer p {
    margin: 0;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #e5e7eb;
}